body{
    background: url(../images/cubes-bg.png);
}

.container{
    max-width: 960px;
}

.navbar-brand{
    background: radial-gradient(#13a2f0b6, #0f80bdb6);
    color: #fff !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    padding: 15px 30px;
    text-align: center;
}

.active{
    color: #000;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #6c757d;
}

p, a, button, label{
    font-family: 'Montserrat', sans-serif;
    color: rgb(134, 134, 134);
}

p{
    line-height: 1.5;
    text-align: justify;
}

#button{
    margin-top: 20px;
    padding: 8px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 3px;
}

#button:hover{
    background-color: rgb(44, 134, 194);
    cursor: pointer;
}

.sec-cont{
    min-height: calc(100vh - 182px);
}

.img-cap{
    position: absolute;
    background-color: rgb(66, 167, 235);
    width: calc(100% - 30px);
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2% 0;
}

footer{
    border-top: 5px solid #3498db;
}

@media all and (max-width:1023px){
    .sec-cont{
        margin: 20px;
    }
}

@media all and (max-width:767px) {
    .hdr-container{
        padding: 0;
    }
    
    .navbar-brand {
        background: linear-gradient(to right, #42d8d0, #0f80bd);
        display: block;
        width: 100%;
    }

    .nav{
        align-content: center;
        justify-content: center;
    }

    .sec-cont{
        margin: 20px;
    }
 }